@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>My First Test Web Page</h1>
    <p class="lead">Test Web Page for ASP.Net.</p>
    <p><a href="https://google.co.in" class="btn btn-primary btn-lg">Google Search &raquo;</a></p>
</div>